logs/
*.log
.idea/
.gradle/
build/
test/
checkpoint/
out/
metastore_db/
.DS_store
web/node_modules/
web/dist/
web/build/
web/typings/
web/.vscode/
web/.happypack/
web/*.log
web/typings.json
web/jsconfig.json
web/dll.js
web/manifest.json
web/.idea/
web/.gradle/
server/target/
server/.idea/
server/build/
web/package-lock.json
/.settings
/.project
/server/.settings
/server/.classpath
/server/*.project
/web/*.project
/web/.classpath
/web/.settings
*.sc
